* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /*  ====================== Cursor ============================ */
  /* ========================================================== */
}
body header .navbar {
  position: absolute;
  width: 100%;
  padding: 50px 0;
  z-index: 999;
}
body header .navbar .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 992px) {
  body header .navbar .container {
    max-width: 900px;
  }
}
body header .navbar .container .active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
}
body header .navbar .container ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  body header .navbar .container ul {
    display: none;
  }
}
body header .navbar .container ul li {
  list-style: none;
}
body header .navbar .container ul li .btn {
  padding: 15px 30px;
  color: #ffffff;
  background: linear-gradient(to right, #4582ff 0%, #e700d1 50%, #4582ff 100%);
  background-size: 200%;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}
body header .navbar .container ul li .btn:hover {
  background-position: right center;
}
body header .navbar .container ul li a {
  display: block;
  margin: 0 5px;
  padding: 15px;
  color: #989d9c;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  opacity: 0;
  -webkit-animation: fadeInUp 0.4s linear forwards;
          animation: fadeInUp 0.4s linear forwards;
  -webkit-animation-delay: calc(0.3s * var(--index));
          animation-delay: calc(0.3s * var(--index));
}
body header .navbar .container ul li a:not(.btn):hover {
  color: #525555;
}
@media (max-width: 992px) {
  body header .navbar .container ul li a {
    margin: 10px 0;
  }
}
body header .navbar .container .active .bar {
  background-color: transparent;
}
body header .navbar .container .active .bar::before {
  top: 0;
  transform: rotate(45deg);
}
body header .navbar .container .active .bar::after {
  top: 0;
  transform: rotate(-45deg);
}
body header .navbar .container .bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body header .navbar .container .bar::before {
  top: -8px;
}
body header .navbar .container .bar::after {
  top: 8px;
}
body header .navbar .container .bar::before, body header .navbar .container .bar::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
}
body header .navbar .container .toggle-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #f6962c;
  float: right;
  cursor: pointer;
  z-index: 9999;
}
@media (max-width: 992px) {
  body header .navbar .container .toggle-btn {
    display: block;
  }
}
body .hero-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  background-image: url("/images/bra.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fadeIn 0.6s linear forwards;
          animation: fadeIn 0.6s linear forwards;
}
@media (max-width: 992px) {
  body .hero-container {
    padding: 20px;
    background-image: none;
    background-color: #000000;
  }
}
body .hero-container .mosque {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  body .hero-container .mosque {
    opacity: 0.6;
  }
}
body .hero-container .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
body .hero-container .container .hero-content {
  position: relative;
  width: 100%;
  max-width: 550px;
  padding-top: 40px;
}
body .hero-container .container .hero-content h2 {
  margin-bottom: 30px;
  color: #282827;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 80px;
  opacity: 0;
  -webkit-animation: fadeInUp 0.5s linear 1s forwards;
          animation: fadeInUp 0.5s linear 1s forwards;
}
@media (max-width: 992px) {
  body .hero-container .container .hero-content h2 {
    color: #fdfdfd;
    font-size: 60px;
  }
}
body .hero-container .container .hero-content p {
  margin-bottom: 30px;
  color: #252525;
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  -webkit-animation: fadeInUp 0.5s linear 1.5s forwards;
          animation: fadeInUp 0.5s linear 1.5s forwards;
}
@media (max-width: 992px) {
  body .hero-container .container .hero-content p {
    color: #f1f1f1;
  }
}
body .hero-container .container .hero-content a {
  display: inline-block;
  padding: 15px 40px;
  color: #ffffff;
  background: linear-gradient(to right, #f66333 0%, #f6eb1f 50%, #f66333 100%);
  background-size: 200%;
  border-radius: 50px;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
  transition: all 0.3s;
  opacity: 0;
  -webkit-animation: fadeInUp 0.5s linear 2s forwards;
          animation: fadeInUp 0.5s linear 2s forwards;
}
body .hero-container .container .hero-content a:hover {
  background-position: right center;
}
body .cursor,
body .cursor2,
body .cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
}
body .cursor {
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}
body .cursor2,
body .cursor3 {
  height: 36px;
  width: 36px;
  z-index: 99998;
  transition: all 0.3s ease-out;
}
body .cursor2:hover,
body .cursor3:hover {
  transform: scale(2) translateX(-25%) translateY(-25%);
  border: none;
}
body .cursor2 {
  border: 2px solid #fff;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}
body .cursor2:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */